/*@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')*/

*{
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans',sans-serif;
    font-family: 'Poppins',sans-serif;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: whitesmoke;
    padding: 12px;
}

ul{
    display: flex;
}

ul li{
    list-style: none;
    padding: 0 13px;
    font-size: 13px;
}
ul li a{
    color: aqua;
    text-decoration: none;
}
ul>li>a:hover{
    color: rgb(13, 200, 200);
}

main{
    min-height: 85vh;
    padding: 2px;
    background: linear-gradient(rgb(81, 58, 58),rgb(235, 184, 90));;
}

.logo img{
    width: 15px;
    filter: invert(1);
}

.container{
    max-width: 80vw;
    margin: auto;
    padding: 9px 15px;
    color: #0092cc;
}

.container h1{
    padding: 12px 0;
}

input[type='text']{
    min-width: 23vw;
    padding: 3px 12px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 15px;
}
.btn{
    background: black;
    color: white;
    padding: 9px 12px;
    border-radius: 6px;
    border: 2px solid whitesmoke;
    cursor: pointer;
}
#resultCont div::first-letter{
    text-transform: uppercase;
}

footer{
    background-color: black;
    color: white;
    display: flex;
    padding: 13px;
    justify-content: center;
    font-size: 15px;
}
footer:hover{
    color: burlywood;
}

@media only screen and (max-width: 600px) {
    body{
        background-color: lightblue;
    }
    .container{
        font-size: 12px;
    }
    nav{
        flex-direction: column;
    }
    .logo{
        padding: 12px 0;
    }
    .logo span{
        font-size: 20px;
    }
    .logo img{
        width: 15px;
        filter: invert(1);
    }
}